<a href="https://colab.research.google.com/github/luksprkz/Desafios-Bootcamp-Geracao-Tech-Unimed-BH---Ciencia-de-Dados-na-DIO-Python/blob/main/An%C3%A1lise_explorat%C3%B3ria_com_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('seaborn')

In [ ]:
from google.colab import files
arq = files.upload()

In [10]:
df = pd.read_excel('AdventureWorks.xlsx')

In [ ]:
df.dtypes

In [210]:
#mostrar o produto mais vendido
df.groupby('ID Produto')['Quantidade'].sum()

ID Produto
366      1089
384      1047
1155      926
1178      789
1202      845
1203     1087
1226      884
2496    25232
2497    25008
Name: Quantidade, dtype: int64

In [ ]:
#mostrar o produto com a maior receita total
df.groupby('ID Produto')['Valor Venda'].sum()

In [ ]:
#criando a coluna custo
df['Custo'] = df['Custo Unitário'].mul(df['Quantidade'])
df.head()

In [ ]:
#criando a coluna lucro 
df['Lucro'] = df['Valor Venda']-df['Custo']
df.sample(20)

In [ ]:
#arredondar o lucro em 2 casas decimais
round(df['Lucro'].sum(),2)

In [ ]:
round(df['Lucro'].sum())

In [ ]:
#criando coluna de tempo de envio do produto
df['Tempo de Envio'] = df['Data Envio'] - df['Data Venda']
df.sample()

In [ ]:
#média do tempo de envio
df['Tempo de Envio'].mean()

In [110]:
df['Tempo de Envio'] = (df['Data Envio'] - df['Data Venda']).dt.days

In [ ]:
df.groupby(df['Marca'])['Tempo de Envio'].mean().plot(color='midnightblue')
plt.xlabel('Marca')
plt.ylabel('Tempo máximo de entrega')
plt.legend();

# **MISSING VALUES**

In [ ]:
#verificar se temos dados faltantes
df.isnull().sum()

# **DESCOBRINDO O LUCRO POR ANO E POR MARCA**

In [ ]:
df.groupby([df['Data Venda'].dt.year,'Marca'])['Lucro'].sum()

In [150]:
#organizando os números para facilitar a leitura
pd.options.display.float_format = '{.2f}'.format

In [ ]:
#resetando o index
lucro_ano = df.groupby([df['Data Venda'].dt.year,'Marca'])['Lucro'].sum().reset_index()
lucro_ano

In [ ]:
#gráfico de total de produtos vendidos
df.groupby('Produto')['Quantidade'].sum().sort_values(ascending=True).plot.barh(title='Quantida vendida por produto', color='purple');
plt.xlabel('Quantidade total vendida')
plt.ylabel('Produto');

In [ ]:
df.groupby('Produto')['Lucro'].sum().sort_values(ascending=True).plot.barh(color='midnightblue')
plt.xlabel('Produto')
plt.ylabel('Lucro total');

In [ ]:
##gráfico de total de produtos vendidos por marca
df.groupby([df['Marca'],'Produto'])['Quantidade'].sum().sort_values(ascending=True).plot.pie(title='Quantida vendida por produto(empresa)');

In [ ]:
df.groupby([df['Marca'],'Produto'])['Lucro'].sum().sort_values(ascending=True).plot.barh(color='midnightblue',title='Lucro por produto(empresa)')
plt.xlabel('Lucro')
plt.ylabel('Produto');

In [ ]:
#selecionando apenas as vendas do ano 2009
df_2009 = df[df['Data Venda'].dt.year == 2009]

In [ ]:
#lucro mês a mês em 2009
df_2009.groupby(df_2009['Data Venda'].dt.month)['Lucro'].sum().plot.bar(title='Lucro x Mês', color='midnightblue')
plt.xlabel('Mês')
plt.ylabel('Luco')
plt.xticks(rotation='horizontal');

In [ ]:
df['Tempo de Envio'].describe()

In [ ]:
plt.boxplot(df['Tempo de Envio']);

In [ ]:
plt.hist(df['Tempo de Envio']);

In [ ]:
#identificando o outlier
df[df['Tempo de Envio']==4]