<a href="https://colab.research.google.com/github/luksprkz/Desafios-Bootcamp-Geracao-Tech-Unimed-BH---Ciencia-de-Dados-na-DIO-Python/blob/main/pandas_excel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [142]:
import pandas as pd

In [143]:
df1 = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/datasets/Aracaju.xlsx')
df2 = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/datasets/Fortaleza.xlsx')
df3 = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/datasets/Natal.xlsx')
df4 = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/datasets/Recife.xlsx')
df5 = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/datasets/Salvador.xlsx')

In [ ]:
#concatenando(juntando) todos os arquivos
df = pd.concat([df1,df2,df3,df4,df5])
df.dtypes
df.head()

In [ ]:
#amosta dentro da tabela
df.sample(20)
#substituindo os valores nulos por 0
df['Vendas'].fillna(0, inplace=True)

In [145]:
#substituindo os valores nulos pela média de uma coluna
df['Vendas'].fillna(df['Vendas'].mean(), inplace=True)

In [ ]:
#verifica quantas linhas tem valores nulos em cada coluna
df.isnull().sum()

In [ ]:
#alterar o tipo de algum dado dentro da coluna
df['LojaID'] = df['LojaID'].astype('object')

In [ ]:
df.dtypes

In [ ]:
#substituindo os valores nulos pela média(mean)
df['Vendas'].fillna(df['Vendas'].mean(), inplace=True)
#definindo a coluna vendas como do tipo inteiro
df['Vendas'] = df['Vendas'].astype('int')
df['Qtde'] = df['Qtde'].astype('int')
df.head(10)

In [ ]:
#remover todas linhas com valores nulos
df.dropna(inplace=True)
#remover as linhas com valores nulos em uma coluna específica
df.dropna(subset=['Vendas'],inplace=True)
#remover linas cujos valores em todas as colunas sejam nulos
df.dropna(how='all', inplace=True)

In [152]:
#criando uma coluna('Receita') - (* ou . mul)
df['Receita'] = df['Vendas'].mul(df['Qtde'])

In [148]:
df['Receita'] = df['Receita'].astype('float')

In [ ]:
#maior valor na coluna
df['Receita'].max()

In [ ]:
#menor valor na coluna
df['Receita'].min()

In [ ]:
#maiores valores dentro da coluna (parâmetro, coluna)
df.nlargest(3,'Receita')

In [ ]:
#menores valores dentro da coluna (parâmetro, coluna)
df.nsmallest(10,'Receita')

In [ ]:
#agrupar e mostrar quem tem a maior receita total
df.groupby('Cidade')['Receita'].sum()

In [ ]:
#agrupar e mostrar quem tem a maior receita média
df.groupby('Data')['Receita'].mean()

In [ ]:
#ordenando o conjunto de dados
df.sort_values('Receita', ascending=True).head(20)

In [ ]:
#agrupando as colunas 'Data' à coluna 'Receita' e ordenando pela 'Receita'
df = df.groupby(by=['Data', 'Receita']).sum().sort_values(by='Receita', ascending=False)
df.head(10)